# Core
streamlit
pandas
numpy

# Machine Learning
scikit-learn
imbalanced-learn
joblib

# NLP
spacy

# Web scraping
requests
beautifulsoup4
lxml

# Optional/Utilities
plotly
openpyxl
urllib3
tqdm
blis
thinc
preshed
murmurhash
catalogue
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
importlib_metadata 
